SECRET_KEY='insert-your-secret-key-here'
DEBUG=true # Change this in production

# Database Configuration
DATABASE_NAME=care2connect
DATABASE_USER=c2c_admin
DATABASE_PASSWORD=c2cpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
